.pi-checkbox-wrap
  display: inline-block
  cursor: pointer
  user-select: none
  position: relative
  padding-left: 24px
  line-height: 28px
  &.is-multiline
    line-height: 16px
  &:before, &:after
    font-family: FontAwesome
    font-size: 20px
    position: absolute
    width: 18px
    line-height: 28px
  &:before
    color: $cb-color
    top: 0
    left: 0
    content: "\f096"
  &:after
    top: 8px
    left: 2px
    font-size: 0px
    transition: font-size 100ms $easeInSine, top 100ms $easeInSine
    color: $black
    content: "\f00c"
  &:focus:before
    color: $cb-focus-color
  &.is-selected:after
    top: -1px
    font-size: 16px
  &.is-disabled
    opacity: .7
